<h3 class="bottom-margin">Tanka.にログインする</h3>
<div class="profile-item">
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
    <ul>
      <li class="row">
        <%= f.label :"Email", class:"col-md-offset-3 col-md-2 col-sm-12 col-xs-12" %>
        <%= f.email_field :email, class:"col-md-3" %>
      </li>

      <li class="row">
        <%= f.label :"パスワード", class:"col-md-offset-3 col-md-2 col-sm-12 col-xs-12" %>
        <%= f.password_field :password, class:"col-md-3" %>
      </li>

      <li class="row">
        <%= f.submit "ログイン", id: 'btn', class:"col-md-offset-5 col-md-2" %>
      </li>
    </ul>
  <% end %>
</div>