
  <% if Like.find_by(post_id: post.id, user_id: current_user.id) %>
    <%= link_to post_like_path(post_id: post.id, id: current_user.likes.find_by(post_id: post.id).id), method: :delete, id: "like_btn", remote: true do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>
  <% else %>
    <%= link_to post_likes_path(post_id: post.id), method: :post, id: "like_btn", remote: true do %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
  <% end %>
  <span id="like_count_<%= post.id %>"><%= "#{post.likes.count}人のお気に入り" if post.likes.count > 0 %> </span>

  <div id="like_users_<%= post.id %>" class="like-box white-shadow">
    <p>お気に入り登録したユーザー</p>
    <% post.like_users.each do |like_user| %>
      <ul>
        <li>
          <b><%= link_to like_user.name, user_path(like_user.id) %></b>
          <span class="break"></span>
          <% unless like_user.description.blank? %>
            <%= "#{like_user.description.truncate(25)}" %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

<style>
#like_users_<%= post.id %>{
 display: none;
 p{
  margin: 0;
 }
}

#like_count_<%= post.id %>{
  text-decoration: underline;
}
#like_count_<%= post.id %>:hover{
  cursor: pointer;
}
</style>

<script>
 $(function(){
   $('#like_count_<%= post.id %>').on('click', function(){
     $('#like_users_<%= post.id %>').slideToggle(400);
   });
 });
</script>

