<article class="row">
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="box confirm-box col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
      <ul>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
        <%= f.hidden_field :description %>

        <li><b>お名前</b></li>
        <li><%= @user.name %></li>

        <li><b>Email</b></li>
        <li><%= @user.email %></li>

        <li><b>パスワード</b></li>
        <li><%= "(secret.)" %></li>

        <li><b>パスワード(確認)</b></li>
        <li><%= "(secret.)" %></li>
      <% if logged_in? %>
        <li><b>自己紹介</b></li>
        <li><%= @user.description.gsub(/\r\n|\r|\n/, "<br />").html_safe %></li>
      <% end %>
     </ul>
    </div>
    <ul>
      <div><%= f.submit "登録する", id:"btn", class:"submit-btn col-md-offset-8 col-md-2 col-sm-offset-4 col-sm-4 col-xs-offset-1 col-xs-10" %></div>
    </ul>
  <% end %>
</article>