<article class="row">
  <% @posts.each do |post| %>
  <section class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 ">
    <div class="box">
      <div class="post-content">
        <h2><%= link_to post.content, post_path(post.id) %></h2>
      </div>

      <div class="post-info">
        <ul>
          <li><%= link_to post.user.name, user_path(post.user.id) %></li>
          <li><%= simple_time(post.created_at) %></li>
          <li>
              <% if Like.find_by(user_id: @current_user.id, post_id: post.id) %>
                <%= link_to like_path(current_user.likes.find_by(post_id: post.id)), method: :delete do %>
                  <span class="fa fa-heart like-btn"></span>
                <% end %>
              <% else %>
                <%= link_to likes_path(post_id: post.id), { method: :post } do %>
                  <span class="fa fa-heart like-btn-unlike"></span>
                <% end %>
            <% end %>
            <span id="like-count"><%= "#{post.likes.count}人のお気に入り" if post.likes.count > 0 %> </span>
          </li>
        </ul>
      </div>
    </div>
      <div id="like-users" class="mini-box white-shadow col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <p>お気に入り登録したユーザー</p>
    <% post.like_users.each do |like_user| %>
      <ul>
        <li>
          <b><%= link_to like_user.name, user_path(like_user.id) %></b>
          <% unless like_user.description.blank? %>
            <%= like_user.description.truncate(30) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

  </section>
  <% end %>
</article>

<script>
 $(function(){
   $('#like-count').on('click', function(){
     $('#like-users').slideToggle(400);
   });
 });
</script>