<article class-"row">
  <div class="box col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <div class="post-content">
      <h2><%= @post.content %></h2>
    </div>

      <div class="post-info">
        <ul>
          <li><%= link_to @post.user.name, user_path(@post.user.id) %></li>
          <li><%= simple_time(@post.created_at) %></li>
          <li>
            <!--いいね分岐-->
            <div id="likes_area_<%= @post.id %>" class="likes-area">
              <%= render partial: 'likes/likes', locals: { post: @post } %>
            </div>
          </li>
        </ul>
      </div>

      <% if @post.user.id == @current_user.id %>
        <div class="edit-menu">
          <p>
            <%= link_to "編集", edit_post_path(@post.id) %> |
            <%= link_to "削除", post_path(@post.id), method: :delete, data: {confirm: "本当に削除してもいいですか？"} %>
          </p>
        </div>
      <% end %>
  </div>
  <div class="mini-box col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
    <p class="path">→ 感想を寄せる</p>

    <%= render partial: "comments/form", locals: {comment: @comment, post: @post} %>
    <div id="comment_area">
      <%= render partial: "comments/index", locals: {comments: @comments, post: @post} %>
    </div>
  </div>
</article>
