<!DOCTYPE html>
<html>
  <head>
    <title>Tanka.</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--font-awesomeの読み込み-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="flash col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10"><%= content_tag(:div, value, class: "#{key}") %></div>
        <% end %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    <p id="pageTop"><a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></p>
  </body>
</html>


<script>
$(function(){
var topBtn=$('#pageTop');
topBtn.hide();

$(window).scroll(function(){
  if($(this).scrollTop()>80){
    topBtn.fadeIn();
  }else{
    topBtn.fadeOut();
  }
});

topBtn.click(function(){
  $('body,html').animate({
  scrollTop: 0},500);
  return false;
  });
});
</script>
